<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<th:block th:fragment="header">
		
        <header class="header">
            <div class="logo"><a href="#">ボウサイリンク</a></div>
            
           <div th:replace="layout/nav :: nav"></div>
            
            <div class="user-options">
                <select class="lang-select" style="font-size: 14px; padding: 5px;">
                    <option>한국어</option><option>english</option><option>日本語</option>
                </select>
                <a href="#">ログイン</a>
                <a href="#">サイイン</a>
            </div>
        </header>
		
	</th:block>
</body>
</html>