<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
      
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ボウサイリンク - 災害情報マップサービス</title>
    
    <!-- 구글 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
   
   	<!-- ✅ 공통 CSS -->
   	<link rel="stylesheet" th:href="@{/css/mystyle.css}">
    
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/mystyle.css}">
</head>    


<body>
	<!-- 헤더 영역 -->
	<div th:replace="layout/header :: header"></div>
	
	<!-- 본문내용 -->
	<div layout:fragment="content"></div>
	
	<!-- 푸터영역 -->
	<div th:replace="layout/footer :: footer"></div>

	<!-- 개별 페이지에서 script 삽입 가능 -->
	<script layout:fragment="script"></script>
	
</body>
</html>