<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<th:block th:fragment="sidebar">
		<aside class="sidebar">
                <h2 class="sidebar-title">カテゴリー</h2>
                <div class="filter-group">
                    <label><input type="checkbox" checked> 天気情報</label>
                    <label><input type="checkbox" checked> 災害情報</label>
                    <label><input type="checkbox"> 避難所情報</label>
                    <label><input type="checkbox"> 病院情報</label>
                </div>
            </aside>
		
	</th:block>
</body>
</html>